<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>Profile</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/">AWS</a></li>
                    <li><a href="/">Java</a></li>
                    <li><a href="/">Spring Framework</a></li>
                    <li><a href="/">Kotlin</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Apps <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#awssqs.html">AWs SQS</a></li>
                    <li><a href="#kpitracker.html">kpitracker</a></li>
                    <li><a href="#QuatrzSchedular.html">Quatrz Schedular</a></li>
                    <li><a href="#SpringbootAdmin.html">Springboot Admin</a></li>
                    <li><a href="#form_wizards.html">Kafka Project</a></li>
                    <li><a href="#EmployeementMgmnt.html">Employeement Management</a></li>
                    <li><a href="#RabbitMq.html">Rabbit MQ</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Demo Apps <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#general_elements.html">Jira</a></li>
                    <li><a href="https://afternoon-shelf-10490.herokuapp.com/">kpitracker demo</a></li>
                    <li><a href="http://www.imdadareeph.com/phoenixui/dashboard">phoenixui demo</a></li>
                    <li><a href="https://floating-journey-79487.herokuapp.com/">Springboot demo</a></li>
                    <li><a href="https://warm-bastion-93812.herokuapp.com/#!/home">Open Api</a></li>
                    <li><a href="https://secret-mesa-13760.herokuapp.com/">Employement Managament Demo</a></li>
                    <li><a href="http://apps.imdadareeph.com/webapi/">Phoenix Server</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Github <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="https://github.com/imdadareeph/aws-sqs-springboot">AWS SQS</a></li>
                    <li><a href="https://github.com/imdadareeph/springbootadmin">springbootadmin</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Blogs <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="http://www.imdadareeph.com/me/">Me</a></li>
                    <li><a href="http://www.imdadareeph.com/guess/">Guess Game</a></li>
                    <li><a href="#morisjs.html">Moris JS</a></li>
                    <li><a href="#echarts.html">ECharts</a></li>
                    <li><a href="#other_charts.html">Other Charts</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-clone"></i>UI <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#ImdadsThemes.html">Imdads Themes</a></li>
                    <li><a href="#ImdadsUI.html">Imdads UI</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Social</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Additional <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#e_commerce.html">E-commerce</a></li>
                    <li><a href="#projects.html">Projects</a></li>
                    <li><a href="#project_detail.html">Project Detail</a></li>
                    <li><a href="#contacts.html">Contacts</a></li>
                    <li><a href="#profile.html">Profile</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#1.html">Imdads Extras 1</a></li>
                    <li><a href="#2.html">Imdads Extras 1</a></li>
                    <li><a href="#3.html">Imdads Extras 1</a></li>
                    <li><a data-th-href="@{/plain-page}">Imdads Plain Page</a></li>
                    <li><a href="#3">Login Page</a></li>
                    <li><a data-th-href="@{pricing-tables}">Imdads Pricing Tables</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Facebook<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Friends</a>
                    <li><a>Pictures<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu"><a href="#level2.html">Detailed pics</a>
                            </li>
                            <li><a href="#Classic.html">Classic</a>
                            </li>
                            <li><a href="#Retro.html">Retro</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#Info">Info</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Comming Soon <span class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>

</div>